<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <a href="/new">Añadir un mensaje</a>
    </header>
    <main>
      <ul>
        <% messages.forEach(message => { %>
          <li>
              <%= `${message.user}: ${message.text} (${message.added.toLocaleString()})` %>
          </li>
        <% }); %>
      </ul>
    </main>
    <footer>
      <h2>Santiago Cano 2023</h2>
    </footer>
  </body>
</html>
